  .profile-info{
    color: #fff;;
		   }
		   
		      .profile-card{
		    background-color: #333333;
		}
		
		.btn-color {
		    background-color: #2196f3 !important;
		}
		.btn-color-high{
	    background-color: #9c27b0 !important;
	
		
		}
		
		
			
		.btn-text{
		color:white !important;
		}