  .profile-info{
    color: #fff;;
		   }
		   
		      .profile-card{
		    background-color: #f06292;
		}
		
		.btn-color {
		     background-color: #ab47bc !important;
		}
		.btn-color-high{
	       background-color: #4fc3f7 !important;
	
		
		}
		
		.btn-text{
		color:white !important;
		}